<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0167555A-1B3A-441E-B034-9A857C4BD776</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7CE5EF3-D51F-453A-BB8A-37F710E2EF0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B4F4A56-94CF-4F53-9763-0FC068902F57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FD95176-5E84-435B-B570-D399C9A66A68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A2DB9F4-828B-49B5-B66D-BDA0D2D27CBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A2A30F33-26A8-4C68-9CA3-D2968FB68D9A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6540BD91-B9BE-43FF-989F-BD5922BEB51B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BE9DAE61-61DE-4591-9B9D-5A991B0C625A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37E4DDF6-802C-444D-A46C-ADD0089EFA01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0167555A-1B3A-441E-B034-9A857C4BD776</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48C14DDF-6AC7-433C-92DB-979DA5F6D1A1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7CE5EF3-D51F-453A-BB8A-37F710E2EF0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B4F4A56-94CF-4F53-9763-0FC068902F57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52EFB664-7987-4EF9-8CA8-268AB6BA279F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52EFB664-7987-4EF9-8CA8-268AB6BA279F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7311BD2-CEBA-44BF-9D22-8A7053976A72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>56F93D8D-D4F1-4B56-AE0A-B97D015AABA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48C14DDF-6AC7-433C-92DB-979DA5F6D1A1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6540BD91-B9BE-43FF-989F-BD5922BEB51B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37E4DDF6-802C-444D-A46C-ADD0089EFA01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A2DB9F4-828B-49B5-B66D-BDA0D2D27CBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56F93D8D-D4F1-4B56-AE0A-B97D015AABA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E7311BD2-CEBA-44BF-9D22-8A7053976A72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FD95176-5E84-435B-B570-D399C9A66A68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7CE5EF3-D51F-453A-BB8A-37F710E2EF0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jackchuka</string>
	<key>description</key>
	<string>jira x alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jiralfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PATH_TO_JIRA $command $1 $ticket --noedit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>48C14DDF-6AC7-433C-92DB-979DA5F6D1A1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>enter a state</string>
				<key>text</key>
				<string>state</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>56F93D8D-D4F1-4B56-AE0A-B97D015AABA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>jiraf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>jiraf</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>15299C7A-CDEA-4359-8898-446F2892DB7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"labels add","arg":"labels add","subtitle":"add labels"},{"title":"labels remove","arg":"labels remove","subtitle":"remove labels"},{"title":"move","arg":"transition","subtitle":"transition state to ..."},{"title":"transitions","arg":"transitions","subtitle":"show all available states"},{"title":"browse","arg":"browse"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>52EFB664-7987-4EF9-8CA8-268AB6BA279F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8A2DB9F4-828B-49B5-B66D-BDA0D2D27CBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>transition</string>
						<key>outputlabel</key>
						<string>Transition</string>
						<key>uid</key>
						<string>A2A30F33-26A8-4C68-9CA3-D2968FB68D9A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>labels \w+</string>
						<key>outputlabel</key>
						<string>Labels</string>
						<key>uid</key>
						<string>BE9DAE61-61DE-4591-9B9D-5A991B0C625A</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>1FD95176-5E84-435B-B570-D399C9A66A68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E7311BD2-CEBA-44BF-9D22-8A7053976A72</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>ticket</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4B4F4A56-94CF-4F53-9763-0FC068902F57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E7CE5EF3-D51F-453A-BB8A-37F710E2EF0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PATH_TO_JIRA $command $ticket $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0167555A-1B3A-441E-B034-9A857C4BD776</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>enter</string>
				<key>text</key>
				<string>Labels</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>37E4DDF6-802C-444D-A46C-ADD0089EFA01</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6540BD91-B9BE-43FF-989F-BD5922BEB51B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$PATH_TO_JIRA $command $ticket</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0167555A-1B3A-441E-B034-9A857C4BD776</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>15299C7A-CDEA-4359-8898-446F2892DB7C</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>1FD95176-5E84-435B-B570-D399C9A66A68</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>37E4DDF6-802C-444D-A46C-ADD0089EFA01</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>48C14DDF-6AC7-433C-92DB-979DA5F6D1A1</key>
		<dict>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>4B4F4A56-94CF-4F53-9763-0FC068902F57</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>52EFB664-7987-4EF9-8CA8-268AB6BA279F</key>
		<dict>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>56F93D8D-D4F1-4B56-AE0A-B97D015AABA2</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>6540BD91-B9BE-43FF-989F-BD5922BEB51B</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>8A2DB9F4-828B-49B5-B66D-BDA0D2D27CBB</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>E7311BD2-CEBA-44BF-9D22-8A7053976A72</key>
		<dict>
			<key>xpos</key>
			<integer>365</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>E7CE5EF3-D51F-453A-BB8A-37F710E2EF0A</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FF316160-82F1-4AC1-8D82-72A1F0AC9ED6</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PATH_TO_JIRA</key>
		<string>/Users/jackchuka/dev/bin/jira</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PATH_TO_JIRA</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
